mixin head(meta, title)
    - title = (title ? title +' - ' : '') + 'СпецОценка.by - Оценка земельных участков, недвижимости, оборудования и транспорта. Бизнес-планирование'
    - meta.desc = (meta.desc ? meta.desc : 'Мы готовы выполнить для вас работы по оценке. Мы оценим имущество для продажи, залога, аренды, его приобретения, получения в подарок, наследования, выменивания, одолжения, заказа, постройки и многого другого. Наши специалисты разработают вам бизнес-план или серьезный инвестиционный проект')
    - meta.link = (meta.link ? meta.link : '')
    - meta.img = (meta.img ? meta.img : '') + 'specocenka.by.jpg'

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='robots' content='index, follow') 

    title= title
    meta(name="description" content=meta.desc)

    meta(property='og:title', content=title)
    meta(property='og:description', content=meta.desc)
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://specocenka.by/#{meta.link}')
    meta(property='og:image', content='http://specocenka.by/assets/img/social/#{meta.img}')
    meta(property='og:email', content='info@specocenka.by')
    meta(property='og:locality', content='Minsk')
    meta(property='og:country-name', content='Belarus')
    meta(property='og:phone_number', content='+375 29 345-27-65')
    meta(name='geo.region', content='BY-MI')
    meta(name='geo.placename', content='Минск')
    meta(name='geo.position', content='53.90454;27.561524')
    meta(name='ICBM', content='53.90454, 27.561524')

    link(rel="apple-touch-icon", sizes="180x180", href="/assets/img/fav/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/assets/img/fav/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/assets/img/fav/favicon-16x16.png", sizes="16x16")
    link(rel="shortcut icon", href="/assets/img/fav/favicon.ico")
    meta(name="theme-color", content="#125171")

    link(href='https://fonts.googleapis.com/css?family=Merriweather:700%7COpen+Sans&subset=cyrillic', rel='stylesheet')
    link(href='/test/assets/css/main.css', rel='stylesheet')